.page {
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  margin-top: 150px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  margin-bottom: 50px;
}

.menu {
  margin-bottom: 30px;
}

.main {
  width: 100%;
  max-width: 800px;
  background: #191B1F;
  border-radius: 60px;
  margin: 0;
  padding: 0;
}


@media (max-width: 800px) {
  .wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .main {
    border-radius: 0;
  }
}